@media (min-width: 320px) and (max-width: 425px) {
    /* Главная стран */  
    .mainPageNav {
        height: 500px;
    }

    .text h1 {
        font-size: 50px;
        text-align: center;
    }
    
    .text h2 {
        font-size: 25px;
        text-align: center;
    }

    .text p {
        font-size: 17px;
        text-align: center;
    }

    .navbar-box ul {
        margin-bottom: 0;
    }

    .navbar-box hr {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
    }

    .navbar-box nav ul li {
        margin: auto;
    }
    
    .navbar-box nav ul li a {
        font-size: 14px;
    }
    
    .centerLogo img {
        height: 140px;
    }

    .about-us {
        flex-direction: column;
    }

    .about-us img {
        margin-top: 10px;
    }

    .about-title {
        flex-direction: column;
    }

    .about-title h1 {
        margin-top: 0;
    }

    .about-title hr {
        /* width: 300px; */
        display: none;
    }

    .about-text p {
        width: auto;
        margin-left: 20px;
    }

    .about-us img {
        width: 200px;
        height: 120px;
        margin-bottom: 0;
    }

    .container {
        margin-top: 0;
    }

    .services-title hr {
        width: 10px;
    }


    .services-box {
        flex-direction: column;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .shares-card img {
        width: 250px;
    }

    .shares-card button {
        margin-bottom: 30px;
    }

    .card {
        margin-top: 20px;
        width: 200px;
        height: 400px;
    }

    .card p {
        width: 200px;
    }

    .additional-info-box {

        display: none;
    }

    .row-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-title h1 {
        font-size: 50px;
    }

    .services-1 {
        flex-direction: column;
        align-content: center;
    }

    .services-1 nav {
        align-items: center;
        margin-bottom: 20px;
    }

    .services-box {
        flex-direction: column;
        width: auto;
    }

    .services-title hr {
        /* width: 320px; */
        display: none;
    }

    .services {
        display: flex;
        flex-direction: column;
    }

    .info-service {
        flex-direction: column;
        align-items: center;
    }

    .info-service p {
        width: 300px;
    }

    .info-service button {
        font-size: 20px;
    }

    .services img {
        margin-top: 20px;
        width: auto;
    }

    .services button {
        width: 100px;
    }

    .services-title {
        flex-direction: column;
    }

    .services img {
        padding-right: 10px;
    }

    /*  Услуги */
    .service-block {
        flex-direction: column;
    }

    .service-block img {
        margin-left: 10px;
        margin-right: 10px;
    }

    .service-block p {
        width: auto;
    }

    .service-block-right {
        flex-direction: column;
    }

    .service-block-right img {
        margin-right: 10px;
        margin-left: 10px;
    }

    .service-block-right p {
        width: auto;
    }

    .text-service button {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .text-service {
        margin-left: 10px;
        margin-right: 10px;
    }

    .row {
        margin-left: 30px;
    }

    .card-image-gallery {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .card-image-gallery img {
        width: 300px;
    }

    /* Галерея */
    .filter-box ul {
        margin-top: 0;
        flex-direction: column;
    }

    .filter-box ul li {
        margin-left: 0px;
    }

    .filter-box ul li a {
        font-size: 10px;
    }

    .row img {
        margin-bottom: 20px;
    }

    .column {
        margin-top: 20px;
    }

}

@media (min-width:768px) and (max-width: 1200px) {
    /* Главная страница */    
    .text h2 {
        text-align: center;
    }

    .text p {
        text-align: center;
    }

    .about-us {
        flex-direction: column;
    }

    .about-us img {
        margin-top: 20px;
    }

    .services-box {
        flex-direction: column;
        width: auto;
    }

    .services-title {
        margin-top: 20px;
    }

    .services-title hr {
        width: 320px;
    }

    .services {
        display: flex;
        flex-direction: column;
    }

    .info-service {
        flex-direction: column;
    }

    .services img {
        margin-top: 20px;
        width: auto;
    }

    .services button {
        width: 100px;
    }

    .action-title {
        display: flex;
    }

    .action-title hr {
        width: 200px;
    }

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .row-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .mobileTable {
        display: flex;
    }

    .card {
        width: auto;
        margin-left: 10px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .galery hr {
        width: 380px;
    }

    .additional-info-box {
        /* display: none; */
    }

    .additional-info-box hr {
        display: none;
    }

    .additional-info ul {
        display: flex;
        margin-left: 30px;
    }

    .icons {
        display: none;
    }

    .list-text {
        display: flex;
        flex-direction: column;
    }

    .list-text p {
        margin-left: 100px;
    }

    /* Услуги */
    .service-block {
        flex-direction: column;
    }

    .service-block img {
        margin-left: 0;
        margin-top: 10px;
    }

    .service-block p {
        width: 700px;
    }

    .service-block-right {
        flex-direction: column;
    }

    .service-block-right p {
        width: 700px;
    }
    
    .text-service button {
        margin-top: 10px;
    }

    /* Акции */

    .price-info {
        margin-bottom: 30px;
    }

    /* Галерея */
    .filter-box ul {
        margin-top: 12px;

    }

    .filter-box ul li {
        margin-left: 0px;
    }

    .filter-box ul li a {
        font-size: 14px;
    }

    .row img {
        margin-bottom: 20px;
    }

    .column {
        margin-top: 20px;
    }


    .shares-card {
        margin-top: 20px;
    }

    .shares-card img {
        width: 300px;
    }
} 