* {
    margin: 0;
    padding: 0;
}

.filter-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.filter-box ul {
    display: flex;
    margin-top: 30px;
}

.filter-box ul li {
    list-style: none;
    margin-left: 20px;
}

.filter-box ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px;
}

.filter-box ul li a:hover {
    border-radius: 50px;
    border: 1.5px solid #D9A4A4;
}


.row img {
    height: 200px;
    margin-right: 30px;
}