* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFFF;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}


.about-us img {
    width: 600px;
    height: 400px;
    border-bottom-right-radius: 100px;
    margin-left: 20px;
}


.about-us p {
    width: 600px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.about-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.about-title h1 {
    font-size: 70px;
    color: #C6A48C;
}

.about-title hr {
    display: flex; 
    width: 100%;
    height: 1.5px; 
    border: none; 
    outline: none; 
    background-color: #C6A48C;
}

/* УСЛУГИ */
.services-box {
    display: flex;
    flex-direction: column;
    width: 1200px;
    justify-content: space-between;
}

.services {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.services nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.services nav ul li {
    list-style: none;
    margin-top: 20px;
    flex: 1;
}

.services nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.services nav ul li a:hover {
    color: #C6A48C;
}

.services hr {
    background-color: #C6A48C;
    border: none;
    outline: none;
    width: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

.services img {
    height: 485px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
}

.services-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.services-title h1 {
    font-size: 70px;
    color: #C6A48C;
}

.services-title hr {
    display: flex; 
    width: 100%;
    height: 1.5px; 
    border: none; 
    outline: none; 
    background-color: #C6A48C;
}

.info-service {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.info-service h2 {
    margin-bottom: 20px;
    font: 20pt "Literature Decor";
    color: #C6A48C;
}

.info-service p {
    width: 420px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.info-service button {
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #C6A48C;
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    outline: none;
}

.info-service button:hover {
    background-color: #C6A48C;
    color: white;
}


.card h1 {
    margin-bottom: 10px;
}

.card img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.card p {
    font-size: 20px;
    width: 329px;
}

.column {
    display: flex;
    flex-direction: column;
}

.shares-card {
    margin-right: 30px;
}

.shares-card img{
    width: 380px;
    border-top-left-radius: 95px;
    border-bottom-right-radius: 95px;
}

.shares-card h2 {
    margin-top: 10px;
    color: #D9A4A4;
    font: 25pt "Literature Decor";
}

.shares-card p {
    margin-bottom: 10px;
    font: 14pt 'Montserrat';
}

.action-box {
    margin-top: 30px;
}

.row-1 {
    margin-top: 10px;
}

.row-1 img {
    width: 410px;
    height: 250px;
    border-radius: 0;
}

.see-more {
    margin-top: 20px;
    width: 200px;
    height: 50px;
}

.galery {
    flex-direction: column
}