* {
    margin: 0;
    padding: 0;
}
  
.navbar {
    background-color: #F2EEED;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.navbar nav {
    display: flex;
}
  
.navbar nav ul {
    display: flex;
    margin-top: 30px;
}
  
.navbar nav ul li {
    list-style: none;
    margin-left: 20px;
}
  
.navbar nav ul li a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: black;
}
  
.navbar nav ul li a:hover {
    color: #C6A48C;
}
  
.nav-hr {
    width: 50%;
    margin-top: 10px;
    background-color: #C6A48C;
    height: 1.5px;
    outline: none;
    border: none;
}


.title-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 50px;
    justify-content: center;
    
    height: 100%;
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 30px;
    border: 2px solid #C6A48C;
}

.title-text h1 {
    font-size: 70px;
    color: #C6A48C;
}

.title-text h2 {
    font-size: 48px;
    color: black;
}

.title-text p {
    font-size: 24px;
}

.title-text img {
    display: flex;
    height: 100px;
    width: 100px;
}