* {
    margin: 0;
    padding: 0;
}

.container h1 {
    margin-bottom: 20px;
}

.image-gallery {
    display: flex;
    flex-direction: column;
}

.column {
    margin-top: 30px;
}

.column:first-child {
    margin-top: 0;
}

.row {
    display: flex;
}

.image-gallery img {
    height: 200px;
    border-top-left-radius: 92px;
    border-bottom-right-radius: 92px;
}

.card {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-top: 5px;
}

.price-info {
    display: flex;
    flex-direction: column;
}

.price-info h3 {
    margin-top: 5px;
    font: 25pt "Literature Decor";
    color: #D9A4A4;
}

.price-info p {
    margin-top: 5px;
    font-size: 18px;
    margin-bottom: 10px;
}